.eslintcache
.cache
.classpath
.java-version
.idea/*
!.idea/vcs.xml
!.idea/icon.png
.vscode
.cursor
.metadata
.settings
.project
.mvn/wrapper/*.jar
.mvn/maven.config
target
tmp
*.class
*.iml
*.jar
*.zip
*.log
.DS_Store
*.ipr
*.iws
hs_err_pid*
replay_pid*
checkstyle-report.xml
